<html>
  <head>
    <title>{{.Title | html }}</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h2>Found a matching user</h2>
      </div>
      <div class="row">
        <h3>{{.Title | html}}</h3>
        <p>Add this url to your feed reader:</p>
        <p><code>{{.AtomURL|html}}</code></p>
        <p><a href="http://fusion.google.com/add?source=atgs&feedurl={{.AtomURL|urlquery}}"><img src="http://buttons.googlesyndication.com/fusion/add.gif" alt="Add to Google"></a></p>
      </div>
    </div>
  </body>
</html>
